:root,
:root[color-theme="light"] {
    --header-background: #2a76b7;
}

@media (prefers-color-scheme: light) {
    :root {
        --header-background: #2a76b7;
    }
}

:root[color-theme="dark"] {
    --header-background: #235886;
}

@media (prefers-color-scheme: dark) {
    :root {
        --header-background: #235886;
    }
}

.gdoc-hint a,
.gdoc-hint a:visited {
    color: #1b57a5;
}
